* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.container {
    display: grid;
    min-height: 100vh;
    grid-template-columns: 50% 50%;
}

.side_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0981c5;
    background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%23529bd0' fill-opacity='0.38' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.side_1 h1 {
    position: fixed;
    top: 50%;
    transform: translate(-25%, -50%);
    text-align: center;
    font-size: 100px;
    color: #ffff;
}

.side_2 {
    background-color: #EFF3FC;
    display: flex;
    padding: 1rem 0;
    align-items: center;
    justify-content: center;
}

/* #CDD1DA */
.side_2 form {
    width: 80%;
}

.side_2 form>h3 {
    font-size: 40px;
    margin-bottom: 1.5rem;
    color: #333;
}

.side_2 .box {
    margin-bottom: 1rem;
}

.side_2 .box h4 {
    font-weight: normal;
    margin-bottom: .5rem;
    color: #777;
}

.side_2 .box input {
    border-radius: 5px;
    outline: none;
    color: #333;
    margin-bottom: .5rem;
    padding: .7rem 1rem;
    border: transparent;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 100%;
}

.side_2 .box:first-of-type select {
    width: 100%;
    margin-bottom: .5rem;
    padding: 1rem 1rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    border: transparent;
}

.side_2 .box p {
    margin-bottom: .5rem;
    font-size: 14px;
    display: none;
}

.side_2 .box input.valid {
    border: 2px solid #4CAF50;
}

.side_2 .box p.error {
    color: #F44336;
    display: block;
}

.side_2 .box.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.side_2 .box.flex .bx {
    width: 45%;
}

.side_2 button {
    width: 100%;
    padding: 1rem;
    background-color: #0981c5;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    border: transparent;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

@media (max-width:998px) {
    .container {
        grid-template-columns: 1fr;
    }

    .side_1 h1 {
        position: static;
        transform: translate(0, 0);
    }

    .side_2 .box.flex {
        flex-direction: column;
    }

    .side_2 .box.flex .bx {
        width: 100%;
    }
}